<header>
  <div class="container bg-gray-900 max-w-full">
    <div class="w-10/12 mx-auto text-center pt-3 pb-3 flex justify-between max-w-screen-lg">
      <%= link_to root_path, class: 'text-2xl text-blue-500' do %>
        <%= render_svg 'check-mobile', styles:'w-36' %>
      <% end %>

      <div class="flex">
        <% if user_signed_in? %>
          <% unless !current_user.superadmin_role? %>
            <%= link_to dashboard_path, class: 'btn btn__secondary' do %>
              DASHBOARD
            <% end %>
          <% end %>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn__secondary ml-4' %>
        <% else %>
          <%= link_to 'Login', new_user_session_path, class: 'p-3 border outline-none focus:outline-none bg-transparent text-blue-300 border-blue-300 hover:bg-blue-300 hover:text-white transition duration-200 ease-in-out' %>
        <% end %>
      </div>
    </div>
  </div>
</header>
