<!DOCTYPE html>
<html>
  <head>
    <title>Checkin Clock App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="flex flex-col h-screen justify-between">
    <%= render 'layouts/partials/header' %>
    <%= render 'layouts/partials/alerts' %>

    <%= content_for?(:content) ? yield(:content) : yield %>

    <%= render 'layouts/partials/footer' %>
  </body>
</html>
